html, body {
    --colour-primary: #f8f8f8;
    --colour-white: #fff;
    --colour-black: #000;
    --colour-border: #e4e4e4;
    --colour-button-primary: #2147f4;
    --colour-button-primary-hover: #4f6cee;

    background: var(--colour-primary);
    margin: 0;
    p, input, button{
        font-family: "Inter", sans-serif;
    }
}
header {
    background: var(--colour-white);
    border-bottom: 1px solid var(--colour-border);
    height: 80px;

    div {
        height: 100%;
        width: 100%;

        img {
            height: 30px;
            width: auto;
        }
    }
}
main {
    & > div {
        height: 150px;
        padding-top: 100px;
    }

    input {
        font-size: 14px;

        &::file-selector-button {
            padding: 12px 16px;
            border: 1px solid var(--colour-border);
            border-radius: 30px;
            color: var(--colour-black);
            background: var(--colour-white);

        }
    }

    button {
        padding: 12px 16px;
        font-size: 16px;
        color: var(--colour-white);
        background: var(--colour-button-primary);
        border: none;
        border-radius: 30px;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background: var(--colour-button-primary-hover);
        }

        &.disabled {
            opacity: 0.7;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.flex {
    display: flex;
    align-items: center;

    &.vertical {
        flex-direction: column;
    }

    &.center {
        justify-content: center;
    }

    &.space-around {
        justify-content: space-around;
    }
}

